.container {
  position: relative;
  display: flex;
  justify-content: center; /* Horizontally center the boxes */
  align-items: flex-end; /* Vertically center the boxes */
  height: 100vh; /* Full viewport height to center vertically */
  width: 100vw;
  background-color: #f0f0f0; /* Optional background color for the container */
}
.takeOrder{
  background-image: url(../background.png);
  width: 100vw;
  height: 100vh;
}
.milk-button-pour-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  margin-right: 4px;
  z-index: 0;
}

.pourAnimationContainer {
  position: absolute;
  margin-top: 163px;
  z-index: 0;
}
.pourAnimationBox{
  position: absolute;
  margin-top: 0px;
  margin-left: -15px;
  background-color: #FFE0DF;
  width: 30px;
  max-height: 410px;
  height: 0px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 0;
}
.pourAnimation {
  height: 405px;
  margin-top: 0px;
  pointer-events: 'none';
  transition: 400ms ease-out;
}
.pourAnimationDrop {
  height: 0px;
  transition: 400ms ease;
}
.milkmug {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/fillMug.png");
  overflow: hidden;
  height: 358px;
  width: 262px;
  margin-top: 110px;
  z-index: 1;
}
.fillAnimationContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 358px;
  width: 262px;
  clip-path: polygon(5% 0, 95% 0, 85% 96%, 15% 96%);
  z-index: 99;
}
.fillAnimationBox {
  /* background: url("milkFillAnim.svg") repeat; */
  background-color: #826858;
  margin-top: 0px;
  width: 640px; /* w: 160 */
  max-height: 500px;
  height: 100px;
  
  animation-name: fill;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}
.fillAnimation {
  animation-play-state: running;
}
.fillAnimationPause {
  animation-play-state: paused;
}
@keyframes fill {
  0% {height: 100px;}

  100% {height: 100%;
        background-color: #E1A666;}
}
.milk-buttons-box {
  margin-top: 60px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.milk-button {
  width: 70px;
  height: 70px;
  transition: 0.5s ease;
  z-index: 5;
}
.buttonPressAnim {
  scale: 0.9;
}

.milk-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: url("/MachineMilk.svg") no-repeat;
  width: 360px; /* w 360px,h 683px */
  height: 683px;
  margin-bottom: 80px;
  z-index: 3;
}

/* ===============  COFFEE  =================================*/
.coffeebar {
  margin-top: 8%;
  margin-bottom: 2%;
  margin-left: 10%;
  height: 3vh;
  background-color: grey;
  border: 5px solid black;
  border-radius: 10px;
  width: 70%;
}

.coffee-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: url("/MachineCoffee.svg") no-repeat;
  width: 360px; /* w 360px, h 683px */
  height: 683px;
  z-index: 10;
  margin-bottom: 80px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.slide2{
  animation: transform2 3s ease-out forwards;
}
@keyframes transform2{
  0%{
    left: 50%;
  }
  100%{
    left: -150%;
  }
}

.coffee-buttons-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.coffeeButtonPressAnim {
  animation: coffeePress 0.5s ease;
}
@keyframes coffeePress {
  0% {scale: 1;}
  20% {scale: 0.9;}
  100% {scale: 1;}
}

.coffeebox{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  max-height: 20%;
  margin-top: 35px;
}

.coffeebox2{
  display:flex;
  flex-direction: column;
  min-width: 50%;
}

.coffeebox2 img{
  max-width: 80%;
  align-self: center;
}

.coffeeMug {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/fillMug.png");
  overflow: hidden;
  height: 358px;
  width: 262px;
  margin-top: 95px;
  z-index: 1;
}

.coffeePourAnimation {
  animation-name: coffeePour;
  animation-duration: 1900ms;
}
@keyframes coffeePour {
  0% {height: 0px;}
  20% {height: 405px;}
  80% {height: 405px;}
  100% {height: 0px;}
}
.coffeePourAnimationBox{
  position: absolute;
  margin-top: 52px;
  margin-left: -115px;
  background-color: #431b05;
  width: 30px;
  max-height: 410px;
  height: 0px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.coffeeFillAnimationBox {
  background-color: #826858;
  margin-top: 0px;
  width: 640px; /* w: 160 */
  max-height: 100px;
  height: 0%;
}

.coffeeFillAnimation {
  transition: 2000ms linear;
  height: 100%;
}

.desertshelf{
  min-width: 25vw;
  min-height: 350px; /* change this if needed, max width and height of all deserts together, so 1/4th/ */
  position: absolute;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: flex-start;
  align-self: flex-start;
  border:rgba(255, 255, 255, 0.9) solid; /*change to white later*/
  border-radius: 25px;
  background: rgba(255, 196, 234, 0.5); /*change color here too*/
  z-index: 1;
  margin-left: 30px;
}

.desertbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.full{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 92vh; /*justify as needed to increase height of deserts from floor*/
  align-items: center;
  justify-content: flex-end;
}
.orderbox{
  background: url("../order.svg") no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 30px; 
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  width: 240px; /* Adjust size */
  height: 120px; /* Adjust size */
  background-size: cover;
  z-index: 20;
}

.orderbox2{
  background: url("../order2.svg") no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 60vh; 
  left: 20vw;
  transform: translateX(-50%); /* Center horizontally */
  width: 137px; /* Adjust size */
  height: 247px; /* Adjust size */
  background-size: cover;
  z-index: 9999;
}

.goalBox {
  position: absolute;
  top: 80vh; /* Match the hitbox top */
  left: 45.5vw; /* Match the hitbox left */
  width: 110px; /* Match the hitbox width */
  height: 120px; /* Match the hitbox height */
  border: 2px dashed #bbbbbb; /* Optional: Visual border for debugging */
  background-color: rgba(0, 0, 0, 0.1); /* Optional: Semi-transparent background */
  pointer-events: none; /* Prevent interaction */
  z-index: 10;
}
.full .mug{
  position: absolute;
  max-width: 20vw;
  margin-right: 30px;
  margin-bottom: 20px;
  align-self: flex-end;
}
