.sliding-background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background: url("../sliding_background.svg") repeat;


  animation: slide 30s linear infinite;
  z-index: -10;
}

@keyframes slide {
  0%{ background-position: 0, 0;}

  100%{ background-position: -425px, 0;}
}

.button{
  background: url("../bear_play.svg") no-repeat;
  height: 307px;
  width: 237px;
  
}
